/*
* Seção portfolio (público)
  */
.fs-115 {
  font-size: 115%;
}

/*
* Certification card */
.card-certification {
  height: 200px;
  background-color: #ececec;
}

.certification-left {
  padding-right: 20px;
  width: 25%;
  margin-left: 10px;
}

.certification-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 0 0 20px;
  width: 75%;
  height: 100%;
}

.certification-boxes {
  display: flex;
  gap: 10px
}

.certification-boxes p {
  text-align: center;
  font-weight: bold;
  width: 120px;
  padding: 5px 0;
  background-color: #fff;
}

@media only screen and (max-width: 991px) {
  .card-certification {
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .box-left {
    display: flex;
    width: 100%;

  }

  .box-left > div {
    padding-left: 20px;
  }

  .box-left h2 {
    margin-top: -8px !important;
  }

  .box-right h1 {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 480px) {
  .certification-left {
    width: 30%;
  }

  .certification-right {
    width: 70%;
  }

  .certification-boxes p {
  width: 100px;
}
}

/*
* Seção não-portfolio (não encontrado, privado ou carregando)
  */

.private-icon {
  width: 250px;
}

.portfolio-warning p {
  font-size: 120%;
  margin: 20px 0 30px 0;
}

.portfolio-warning button {
  font-size: 120%;
  padding: 8px 20px;
}

/*
* Loader do enum "LOADING"
   */
.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: -1px;
  font-size: 40px;
  background: radial-gradient(circle closest-side,#000 94%,#0000) right/calc(200% - 1em) 100%;
  animation: l24 1.3s infinite alternate linear;
}
.loader::before {
  content: "Buscando portfólio...";
  line-height: 1em;
  color: #0000;
  background: inherit;
  background-image: radial-gradient(circle closest-side,#fff 94%,#000);
  -webkit-background-clip:text;
          background-clip:text;
}

@keyframes l24{
  100%{background-position: left}
}

@media only screen and (max-width: 500px) {
  .loader {
    animation: l24 1s infinite alternate linear;
  }
  .loader::before {
    content: "Buscando...";
  }
}
