<h3>Informações</h3>
<div>
  <img [src]="thumbPath() || 'img/not_found.jpg'" class="img-thumbnail"
    style="max-width: 140px; cursor: pointer; margin: 20px 0;" alt="Perfil">
</div>
<h5>Sobre</h5>
<p *ngIf="user.description">{{ user.description }}</p>
<p class="text-secondary" *ngIf="!user.description">Adicione uma descrição</p>
<h5>Objetivo</h5>
<p *ngIf="user.goal">{{ user.goal }}</p>
<p class="text-secondary" *ngIf="!user.goal">Adicione um objetivo</p>
<h5>Perfil</h5>
<table class="table table-striped-columns table-hover table-bordered">
  <tbody>
    <tr>
      <td class="fw-bold col-1 col-sm-2">Nome</td>
      <td>{{ user.name }}</td>
    </tr>
    <tr>
      <td class="fw-bold col-1 col-sm-2">Email</td>
      <td>{{ user.email }}</td>
    </tr>
    <tr>
      <td class="fw-bold col-1 col-sm-2">Localização</td>
      <td *ngIf="user.location">{{ user.location }}</td>
      <td *ngIf="!user.location" class="text-secondary">Não informado</td>
    </tr>
    <tr>
      <td class="fw-bold col-1 col-sm-2">Github</td>
      <td *ngIf="user.github">{{ user.github }}</td>
      <td *ngIf="!user.github" class="text-secondary">Não informado</td>
    </tr>
    <tr>
      <td class="fw-bold col-1 col-sm-2">LinkedIn</td>
      <td *ngIf="user.linkedin">{{ user.linkedin }}</td>
      <td *ngIf="!user.linkedin" class="text-secondary">Não informado</td>
    </tr>
  </tbody>
</table>
