<div class="container mt-5">
  <button class="btn btn-outline-dark" routerLink="create"> <i class="bi bi-save me-3"></i>Adicionar
    certificação</button>

  <hr>
  <div class="d-flex">
    <h3 class="mb-3">Certificações</h3>
    <div class="mb-3 ms-3 me-3 vr"></div>

    <div class="mb-3 w-100">
      <div class="row g-2">
        <div class="col-12 col-md-8 col-lg-3">
          <div class="input-group">
            <span class="input-group-text">&#8981;</span>
            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Pesquisa">
          </div>
        </div>
        <div class="col-12 col-md-4 col-lg-2">
          <select [(ngModel)]="searchOption" class="form-select">
            <option *ngFor="let option of searchOptions" [value]="option">{{ option }}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let cert of (certifications | certificationSearch:searchText:searchOption)"
      class="col-12 col-md-6 col-xl-4 mb-3">
      <app-certification-card [certification]="cert" [portfolio]="false" (deleted)="onDelete($event)">
        <button class="btn btn-secondary" details [routerLink]="['/app/certifications', cert.id]">Detalhes</button>
      </app-certification-card>
    </div>
  </div>
  <p class="text-secondary mt-1" *ngIf="certifications.length == 0">Você ainda não possui certificações registradas!</p>
  <p class="text-secondary mt-1"
    *ngIf="(certifications | certificationSearch:searchText:searchOption).length == 0 && certifications.length != 0">
    Nenhuma certificação encontrada!</p>
</div>

<div class="toast-container position-fixed bottom-0 start-50 translate-middle-x p-3">
  <div id="successToast" class="toast bg-success bg-opacity-75 text-white" role="alert" aria-live="assertive"
    aria-atomic="true">
    <div class="toast-header bg-success bg-opacity-75 text-white border-0">
      <strong class="me-auto">&#9989; Sucesso</strong>
      <small class="text-white-50">Certificação</small>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Certificação removida com sucesso!
    </div>
  </div>
  <div id="errorToast" class="toast bg-danger bg-opacity-75 text-white" role="alert" aria-live="assertive"
    aria-atomic="true">
    <div class="toast-header bg-danger bg-opacity-75 text-white border-0">
      <strong class="me-auto">❌ Erro</strong>
      <small class="text-white-50">Certificações</small>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div *ngIf="toastMessage  != null" class="toast-body">
      {{ toastMessage }}
    </div>
  </div>
</div>
