<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ certification.title }}</h5>
    <p class="card-text">{{ certification.hours }}</p>
    <ng-content select="[details]"></ng-content>
    <button class="btn btn-outline-primary ms-1">
      <i class="bi bi-pencil"></i>
    </button>
    <button class="btn btn-outline-danger ms-1" data-bs-toggle="modal" data-bs-target="#deleteModal">
      <i class="bi bi-trash"></i>
    </button>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteModalLabel">Confira os dados abaixo</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table table-secondary table-bordered table-striped-columns">
          <tbody>
            <tr>
              <td class="fw-bold col-3">Título</td>
              <td>{{ certification.title }}</td>
            </tr>
            <tr>
              <td class="fw-bold col-3">Horas</td>
              <td>{{ certification.hours }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer d-flex justify-content-between align-items-center">
        <span class="text-muted">Clique no botão vermelho para deletar!</span>
        <div>
          <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal">Fechar</button>
          <button type="button" (click)="delete()" class="btn btn-danger">Deletar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Toast -->
<div class="toast-container position-fixed bottom-0 start-50 translate-middle-x p-3">
  <div id="errorToast" class="toast bg-danger bg-opacity-75 text-white" role="alert" aria-live="assertive"
      aria-atomic="true">
      <div class="toast-header bg-danger bg-opacity-75 text-white border-0">
        <strong class="me-auto">❌ Erro</strong>
        <small class="text-white-50">Certificação</small>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        Falha ao remover certificação
      </div>
    </div>
    <div id="successToast" class="toast bg-success bg-opacity-75 text-white" role="alert" aria-live="assertive"
      aria-atomic="true">
      <div class="toast-header bg-success bg-opacity-75 text-white border-0">
        <strong class="me-auto">&#9989; Sucesso</strong>
        <small class="text-white-50">Certificação</small>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        Certificação removida com sucesso!
      </div>
    </div>
  </div>

