<div class="container">
  <div class="row min-vh-100 d-flex justify-content-center align-items-center">
    <form class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4 rounded pt-5 pb-5 p-4">
      <h3>Cadastro</h3>
      <div class="mb-3">
        <label for="inputEmail" class="form-label">E-mail</label>
        <input type="email" class="form-control" id="inputEmail" [required]="true">
      </div>
      <div class="mb-3">
        <label for="inputSenha" class="form-label">Senha</label>
        <input type="password" class="form-control" id="inputSenha" [required]="true">
      </div>
      <button type="submit" class="btn btn-primary col-12 col-md-3 mb-3">Cadastrar</button>
      <p>Já possui uma conta? <a routerLink="/signin">Login</a></p>
    </form>
  </div>
</div>
