<div class="container">
  <div class="row min-vh-100 d-flex justify-content-center align-items-center">
    <form [formGroup]="signupFormGroup" class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4 rounded pt-5 pb-5 p-4">
      <h3>Cadastro</h3>
      <hr>
      <div class="mb-1">
        <label for="inputNome" class="form-label">Nome</label>
        <input type="text" formControlName="nameControl" [(ngModel)]="model.name" class="form-control" id="inputNome"
          [required]="true">
        <div class="invalid-feedback d-block" [style.visibility]="isNameInvalid() ? 'visible' : 'hidden'">
          {{ isNameInvalid() ? getErrorMessageName() : '&nbsp;' }}
        </div>
      </div>
      <div class="mb-1">
        <label for="inputEmail" class="form-label">E-mail</label>
        <input type="email" formControlName="emailControl" [(ngModel)]="model.email" class="form-control"
          id="inputEmail" [required]="true">
        <div class="invalid-feedback d-block" [style.visibility]="isEmailInvalid() ? 'visible' : 'hidden'">
          {{ isEmailInvalid() ? getErrorMessageEmail() : '&nbsp;' }}
        </div>
      </div>
      <div class="mb-1">
        <label for="inputSenha" class="form-label">Senha</label>
        <input type="password" formControlName="passwordControl" [(ngModel)]="model.password" class="form-control"
          id="inputSenha" [required]="true">
        <div class="invalid-feedback d-block" [style.visibility]="isPasswordInvalid() ? 'visible' : 'hidden'">
          {{ isPasswordInvalid() ? getErrorMessagePwd() : '&nbsp;' }}
        </div>
      </div>
      <button [disabled]="!this.signupFormGroup.valid" type="submit" (click)="signup()" class="btn btn-primary col-12 col-md-3 mb-3">Cadastrar</button>
      <p>Já possui uma conta? <a routerLink="/signin">Login</a></p>
    </form>
    <div class="toast-container position-fixed bottom-0 start-50 translate-middle-x p-3">
      <div id="successToast" class="toast bg-success bg-opacity-75 text-white" role="alert" aria-live="assertive"
        aria-atomic="true">
        <div class="toast-header bg-success bg-opacity-75 text-white border-0">
          <strong class="me-auto">&#9989; Sucesso</strong>
          <small class="text-white-50">Cadastro realizado com sucesso! Redirecionando...</small>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>
      <div id="errorToast" class="toast bg-danger bg-opacity-75 text-white" role="alert" aria-live="assertive"
        aria-atomic="true">
        <div class="toast-header bg-danger bg-opacity-75 text-white border-0">
          <strong class="me-auto">❌ Erro</strong>
          <small class="text-white-50">Falha no login</small>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div *ngIf="errorMessage != null" class="toast-body">
          {{ errorMessage }}
        </div>
      </div>
    </div>
  </div>
</div>
